<% provide(:title, 'About') %>

<h1>About</h1>
<p>
The <a href="https://gitlab.com/1llyanovohatskyy/Docker-Rails">Docker-Rails template</a> 
was created by <a href="https://github.com/sweatC">Ilya Novohatskyi.</a><br />
It is first trying of Docker and all that connected with containerezation.
</p>

