<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Get help on the Docker at the
  <a href="https://docs.docker.com/">Docker docs page</a>.<br />
  To get help on this sample app, see the
  <a href="https://gitlab.com/1llyanovohatskyy/Docker-Rails#readme"><em>Docker-Rails</em> README</a>.
</p>
