<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://gitlab.com/1llyanovohatskyy/Docker-Rails">Docker-Rails</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary sign-up" %>
</div>

<%= link_to image_tag("docker-rails.png", size: "110x60", alt: "Docker-Rails logo"),
            'https://gitlab.com/1llyanovohatskyy/Docker-Rails' %>
