<footer class="footer">
  <small>
    The <a href="https://gitlab.com/1llyanovohatskyy/Docker-Rails">Docker-Rails Tutorial</a>
    by <a href="https://github.com/sweatC">Ilya Novohatskyi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://gitlab.com/1llyanovohatskyy/Docker-Rails/issues#">Issues</a></li>
    </ul>
  </nav>
</footer>
